html, body {
  height: 100%;
}

/* BootStrap Overriding */
.bg-light { background-color: #E9ECEF!important; }
.bg-info { background-color: #00B8D8!important; }

/* Others */
#skinViewerContainer {
  height: 30vh;
}
